<h1 class="visually-hidden">Homework 11</h1>

<form class="search-form" id="search-form">
  <div class="search-block">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="search-btn">
      <svg class="icon icon-search">
        <use href="./images/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </div>
</form>

<div class="gallery">
  <!-- Картки зображень -->
</div>
<!-- <button type="submit" class="load-more">Load More</button> -->
<div class="scroll-guard"></div>
